*.iml
.gradle
fftest/local.properties
fftest/.idea/workspace.xml
fftest/.idea
.DS_Store
fftest/app/build

TestOpenSL/.gradle
TestOpenSL/.idea
TestOpenSL/app/build
TestOpenSL/.idea/workspace.xml
TestOpenSL/app/.externalNativeBuild/*

TestOpenglES/.gradle
TestOpenglES/.idea/workspace.xml
TestOpenglES/app/build
TestOpenglES/.idea
TestOpenglES/app/.externalNativeBuild
TestOpenglES/local.properties
TestOpenglES/.DS_Store

YdhPlay/.gradle
YdhPlay/.idea/workspace.xml
YdhPlay/app/build
YdhPlay/.idea
YdhPlay/app/.externalNativeBuild
YdhPlay/local.properties
YdhPlay/.DS_Store
YdhPlay/app/.cxx
